*{
	padding: 0;
	margin: 0;
}

body{
	background: url(ian-schneider-PAykYb-8Er8-unsplash.jpg) no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
}
.hello{
	padding: 5px 90px;
	font-size: 20px;
	font-family: "Vibur", cursive;
    font-size: 1rem;
	font-weight: bold;
	margin-right:1000px;
    position:relative;
    float:right;
	color:#72A0C1;
}
.container{
	position: relative;
	margin-top: 25px;
	width: 300px;
	height: 200px;
	background: transparent;
	border-radius: 5px;
	backdrop-filter: blur(20px);
}
.label{
	padding: 5px 90px;
	font-size: 20px;
	font-family: "Vibur", cursive;
    font-size: 1rem;
	font-weight: bold;
	
}
.login_form{
	padding: 0px 40px;
}
.login_form .font{
	
	margin: 5px 0;
}
.login_form input{
	height: 25px;
	width: 200px;
	padding: 0 5px;
	
	font-family: "Vibur", cursive;
	font-size: 1rem;
	outline: none;
	border: 1px solid silver;
}
.login_form .font2{
	margin-top: 15px;
}
.login_form button{
	margin: 15px 0 30px 0;
	height: 25px;
	width: 200px;
	font-size: 15px;
	
	color: #EEE8AA;
	font-family: "Vibur", cursive;
    font-size: 1rem;
	outline: none;
	cursor: pointer;
	font-weight: normal;
	background: #333300;
	
	
	
}
.login_form button:hover{
	background: #808000;
}

.login_form #email_error,
.login_form #pass_error{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}
.phani{
	color:#72A0C1;
}
.teju{
	color:#BDB76B;

}


